.paragraph {
  display: flex;
  font-size: 3.5rem;
  line-height: 1;
  max-width: 1900px;
  color: white;
  flex-wrap: wrap;
  font-family: "elza", "sans-serif";
  font-weight: 600;
  font-style: normal;
  width: 100vw;
  margin: 0;
}

.paragraph.word {
  position: relative;
  margin-right: 0.25em;
  margin-top: 0.25em;
}

.paragraph.word.shadow {
  position: absolute;
  opacity: 20%;
  margin-right: 0.25em;
  margin-top: 0.25em;
}