.about {
    height: fit-content;
    color: white;
    margin: 30vh 0;
}

.about p {
    font-size: 2.5em;
    line-height: 3rem;
    max-width: 75vw;
    padding: 0 5%;
}

h2 {
    text-transform: uppercase;
    font-weight: 800;
}
