.about {
    height: fit-content;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* margin: 30vh 0; */
}

.about p {
    font-size: 2.5em;
    line-height: 3rem;
    max-width: 75vw;
    padding: 0 5%;
}

h2 {
    text-transform: uppercase;
    font-weight: 800;
}
