.canvasContainer {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    z-index: 0;
}

.overlay {
    position: relative;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    pointer-events: none;
    backdrop-filter: blur(2px);
    z-index: 1;
} 