.header {
    height: 10vh;
    width: 90%;
    max-width: 1900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2% 5%;
    z-index: 2;
    position: relative;
    animation: fadeInUp 1s ease-out forwards;
    /* mix-blend-mode: difference; */
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: "elza", "sans-serif";
    font-weight: 700
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 5vh;
}

.header ul li a {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "elza", "sans-serif";
    text-decoration: none;
    color: white;
    font-weight: 700
}

.header ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}