.team {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    color: white;
    font-family: "elza", "sans-serif";
    font-weight: 500;
    font-style: normal;
    height: 100vh;
  }
  
  .team h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .teamMembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 2rem;
    width: 100%;
  }
  
  .member {
    max-width: 30%;
    position: relative;
  }
  
  .member a {
    text-decoration: none;
    color: white;
    font-weight: 800;
  }
  
  .member a:hover {
    text-decoration: underline;
  }
  
  .preview {
    pointer-events: none;
    position: fixed;
    width: 225px;
    height: 275px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 1000;
  }
  
  .preview.visible {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    filter: blur(0px);
  }
  